.env
.idea/
Data/
TODO.txt
__pycache__/
am_ru_converter/.env
main.py
venv/
am_ru_converter/__pycache__/
converter/__pycache__/
converter/migrations/__pycache__/
converter/my_converter/__pycache__/
tmp